<p style="color: green"><%= notice %></p>

<section class="d-flex flex-column m-5 justify-content-center">
<h1 class="text-center">Users</h1>


  <%= form_tag users_path, method: :get, class: "d-flex py-5 align-items-end" do %>
    <div class="d-flex flex-column w-auto">
      <%= label_tag :search_type, "Type", class: "m-1" %>
      <%= select_tag :search_type, options_for_select([["Name", "1"], ["CPF", "2"], ["Phone", "3"], ["Email", "4"]]), class: "form-select", prompt: "Select type", aria: { label: "Search type" } %>
    </div>
    <div class="d-flex flex-column">
      <%= label_tag :search_value, "Value", class: "m-1" %>
      <%= text_field_tag :search_value, nil, class: "input-group-text", aria: { label: "Search value" } %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


      <% @users.each do |user| %>
        <%= render user %>
        <p>
          <%= link_to "Show this user", user, class: "btn btn-info" %>
        </p>
      <% end %>

<%= link_to "New user", new_user_path, class: "btn btn-primary" %>
</section>


